body{
    background-color: aqua;
}
h1{
    text-align: center;
}
.order{
    border:  1px solid black;
    margin: 2% 2%;
    padding: 2% 2%;
}
/* #rezult{
    border: 2px solid black;
    padding: 5%;
    margin: 2% 2%;

} */
/* #statement{
    border: 2px solid black;
    padding: 5%;
    margin: 2% 2%;

} */
.btns{
    border: 2px solid black;
    padding: 5%;
    margin: 2% 2%;

}